.nav-container {
    height: 96px;
    width: 95%;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 200.31px;
    height: 65px;
}

.logo-container img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mid-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 342px;
    height: 68px;
}

.mid-img img {
    width: 100%;
    height: 100%;
}

.last-img-group {
    position: absolute;
    right: 1px;
    display: flex;
    flex-direction: row;
    gap: 28.8px
}

.wrapper-button {
    /* background-color: blueviolet; */
    text-align: center;
    height: fit-content;
}

.wrapper-button img {
    width: 52.82px;
    height: 52.82px;
    cursor: pointer;
}

.wrapper-button p {
    font-family: Lato;
    font-size: 28.8px;
    font-weight: 400;
    margin-top: 0px;
    margin: 0;
}

@media(max-width: 920px) {

    .nav-container {
        height: 96px;
        width: 95%;
        margin: 0 auto;
    }
    

    .logo-container {
        width: 72.11px;
        height: 23.4px;
    }

    .mid-img {
      
        width: 123.12px;
        height: 24.4px;
    }

    
.last-img-group {
    gap: 6.76px;
}


.wrapper-button img {
    width: 19.2px;
    height: 19.2px;
}


.wrapper-button p {
    font-family: Lato;
    font-size: 10.37px;
    font-weight: 400;
    line-height: 12.44px;
    text-align: center;
    
}

}
